.d__latch {
    background-color: #fff;
    border: 1px solid #777;
    border-radius: 5px; 
    text-align: center;
    width: 132px;
    height: 129px;
    padding-top: 1px;
}

.d__input__one, .d__output__two, .d__output__one {
    width: 10px;
    height: 10px;
}

.d__input__one {
    top: 12%;
    left: -3.5%;
}

.d__output__one {
    top: 12%;

}

.d__output__two {
    top: 88%;
}


.dl-cls-1 {
    fill: #fff;
}

.dl-cls-1, .dl-cls-2 {
    stroke: #231f20;
    stroke-miterlimit: 10;
    stroke-width: 5px;
}

.dl-cls-2 {
    fill:none;
}

.dl-cls-3 {
    font-size: 48px;
    fill: #231f20;
    font-family: Marion-Italic, Marion;
    font-style: italic;
}