.title {
  padding-top: 8px;
}

.logo-col {
  padding-right: 0;
}

.title-col {
  padding-left: 0;
}

.logo {
  width: 60px;
  height: 60px;
  padding: 10px;
}

.logo-cls-1 {
  fill:#f15a24;
}

.logo-cls-2 {
  fill:#fff;
}

.parts-menu {
  height: 90vh;
  padding-left: 0;
  padding-right: 0;
}

.parts-icons {
  height: 90vh;
}

.actual-parts {
  height: 90vh;
  
img {
      padding: 10px;
    }
  
}

.parts-stack div img {
  width: 52px;
}



.dndnode-and,
.dndnode-not,
.dndnode-input,
.dndnode-ground,
.dndnode-output,
.dndnode-or,
.dndnode-nor,
.dndnode-nand,
.dndnode-xor,
.dndnode-xnor,
.dndnode-clock,
.dndnode-switch,
.dndnode-sr,
.dndnode-sre,
.dndnode-d,
.dndnode-de,
.dndnode-srff,
.dndnode-jkff,
.dndnode-dff,
.dndnode-tff {
    padding: 10px;
    border-radius: 3px;
    width: 150px;
    font-size: 12px;
    color: #222;
    text-align: center;
    border-width: 1px;
    border-style: solid;
}

.dndnode-horizontal-input {
    background: #fff;
    border-color: #0041d0;
}

.dndnode-and {
    background: #fff;
    border-color: #777;
}

.dndnode-input {
    background: #fff;
    border-color: #222;
}

.dndnode-output {
    background: #fff;
    border-color: #222;
}