.not__gate {
    background-color: #fff;
    border: 1px solid #777;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    height: 33px;
}

.not__input, .not__output {
    width: 10px;
    height: 10px;
}

.not__input {
    left: -5px;
}
.not__output {
    right: -5px;
}

.not-cls-1 {
    fill: #fff;
}

.not-cls-2 {
    fill: none;
}

.not-cls-1, .not-cls-2 {
    stroke: #231f20;
    stroke-miterlimit: 10;
    stroke-width: 5px;
}