.nor__gate {
    background-color: #fff;
    border: 1px solid #777;
    border-radius: 5px; 
    text-align: center;
    width: 132px;
    height: 64px;
}

.nor__input__one, .nor__input__two, .nor__output {
    width: 10px;
    height: 10px;
}

.nor__input__one {
    top: 23%;
    left: -5%;
}

.nor__input__two {
    top: 77%;
    left: -5%;
}

.nor__output {
    top: 50%;
    right: -5%!important;
}

.nor-cls-1 {
    fill: #fff;
}

.nor-cls-2 {
    fill: none;
}

.nor-cls-1, .nor-cls-2 {
    stroke: #231f20;
    stroke-miterlimit: 10;
    stroke-width: 5px;
}