.nor__gate {
    background-color: transparent;
    /* border: 1px solid #777; */
    /* border-radius: 5px; */
    text-align: center;
    width: 79px;
    height: 65px;
    padding: 10px;
}

.nor-image {
    width: 79px;
    height: 65px;
        /* user-drag: none; */
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;

}

.nor__input__one, .nor__input__two, .nor__output {
    width: 10px;
    height: 10px;
}

/*.nor__input__one {

}

.nor_input__two {

} */

.nor__output {
    right: 5px;
}