.xor__gate {
    background-color: #fff;
    border: 1px solid #777;
    border-radius: 5px; 
    text-align: center;
    width: 132px;
    height: 64px;
}

.xor__input__one, .xor__input__two, .xor__output {
    width: 10px;
    height: 10px;
}

.xor__input__one {
    top: 23%;
    left: -5%;
}

.xor__input__two {
    top: 77%;
    left: -5%;
}

.xor__output {
    top: 50%;
    right: -5%!important;
}

.xor-cls-1 {
    fill: #fff;
}

.xor-cls-2 {
    fill: none;
    stroke: #231f20;
    stroke-miterlimit: 10;
    stroke-width: 5px;
}