.sr__flip__flop {
    background-color: #fff;
    border: 1px solid #777;
    border-radius: 5px; 
    text-align: center;
    width: 132px;
    height: 129px;
    padding-top: 1px;
}

.srff__input__one, .srff__input__two, .srff__input__three, .srff__output__one, .srff__output__two {
    width: 10px;
    height: 10px;
}

.srff__input__one {
    top: 12%;
    left: -3.5%;
}

.srff__input__two {
    top: 88%;
    left: -3.5%;
}

.srff__input__three {
    top: 52%;
    left: -3.5%;
}

.srff__output__one {
    top: 12%;
}

.srff__output__two {
    top: 88%;
}

.srff__output {
    right: 5px;
}

.srff-cls-1 {
    fill: none;
}

.srff-cls-1, .srff-cls-2 {
    stroke: #231f20;
    stroke-miterlimit: 10;
    stroke-width: 5px;
}

.srff-cls-2 {
    fill: #fff;
}

.srff-cls-3 {
    font-size: 48px;
    fill:#231f20; 
    font-family: Marion-Italic, Marion;
    font-style: italic;
}