.or__gate {
    background-color: #fff;
    border: 1px solid #777;
    border-radius: 5px;
    text-align: center;
    width: 132px;
    height: 64px;
}

.cls-1 {
    fill: #fff;
}

.cls-2 {
    fill: none;
    stroke: #656565;
    stroke-miterlimit: 10;
    stroke-width: 5px;
}



/* .or-image {
    width: 79px;
    height: 65px;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;

} */

/* Position.BottomLeft */
/* top: 51%; left: -4% */

/* Position.TopLeft */
/* top: 13%; left: -4%*/

/* Position.Right */
/* top: 32%; right: -4%!important */

.or__input__one, .or__input__two, .or__output {
    width: 10px;
    height: 10px;
}

.or__input__one {
    top: 23%;
    left: -5%;
}

.or__input__two {
    top: 77%;
    left: -5%;
}

.or__output {
    top: 50%;
    right: -5%!important;
}