.de__latch {
    background-color: transparent;
    /* border: 1px solid #777; */
    /* border-radius: 5px; */
    text-align: center;
    width: 79px;
    height: 105px;
    padding: 10px;
}

.de-latch-image {
    width: 85px;
    height: 90px;
        /* user-drag: none; */
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;

}

.de__input__one, .de__input__two, .de__output {
    width: 10px;
    height: 10px;
}

/*.de__input__one {

}

.de_input__two {

} */

.de__output {
    right: 5px;
}