.t__flip__flop {
    background-color: transparent;
    /* border: 1px solid #777; */
    /* border-radius: 5px; */
    text-align: center;
    width: 79px;
    height: 105px;
    padding: 10px;
}

.t-flip-flop-image {
    width: 85px;
    height: 90px;
        /* user-drag: none; */
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;

}

.t__input__one, .t__input__two, .t__output {
    width: 10px;
    height: 10px;
}

/*.t__input__one {

}

.t_input__two {

} */

.t__output {
    right: 5px;
}